
@media (min-width: 576px) {
    .site-header-mini_top {
        height: 60px;
    }
    .site-header-mini {
        box-shadow: 0 0.005rem 0.2rem 0.05rem #d3d3d3;
    }
    .breadcrumb__menu li {
        font: 500 0.8rem/1.5em futura-pt,Geneva,Arial,sans-serif;
        letter-spacing: .2em;
    }
    .left-img {
        max-width: 36%;
        margin-right: 12px;
        float: left;
    }
    .img-580 {
        height: 580px;
    }
    .wheel_input {
        width: 50% !important;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
    .footer {
        padding-top: 2rem;
    }
    .footer-copyright__logo {
        height: 3rem;
    }
    .footer-sites__list {
        background-color: transparent;
    }
    #footer-hola-sites .footer-sites__list.active, #footer-int-sites .footer-sites__list.active {
        margin-top: 0.5rem;
    }
    .footer-sites__list a {
        border-right: 1px solid #fff;
        border-bottom: none;
        display: inline-block;
        padding: 0 0.5rem;
    }
    .footer-policy {
        display: block;
        margin-bottom: 0;
    }
    .footer-policy a {
        display: inline-block;
        margin-right: 0.2rem;
    }
    .footer-socialmedia {
        padding: 0 1rem 0 0;
    }
    .news-feature-sides {
        margin-bottom: 24px;
        margin-top: 24px;
    }
    .news-feature-sides__figure {
        margin: 0;
        flex-direction: row;
        padding: 0;
        align-items: center;
    }
    .news-feature-sides .c-image, .news-feature-sides .picture-container {
        width: 62.66667%;
        order: 2;
        position: relative;
        margin: auto;
    }
    .news-feature-sides .c-image img, .news-feature-sides .picture-container img {
        width: 100%;
    }
    .news-feature-sides__caption {
        width: 38.33333%;
        text-align: left;
        z-index: 1;
        order: 1;
        position: relative;
        bottom: auto;
        letter-spacing: .05rem;
        margin: 0 22px;
    }
    .square {
        letter-spacing: .02em;
        padding: 2.5rem 0.5rem 2.5rem 2.5rem;
        width: calc(100% + 45px);
        transform: translateX(-85px);
        z-index: 1;
        position: relative;
    }
    .news-feature-sides__caption .square {
        transform: translateX(0);
        padding: 2rem 1rem;
    }
    .news-feature-sides__title {
        font-size: 1rem;
        text-align: left;
    }
    .news-feature-sides__subtitle {
        font-size: .85rem;
        text-align: left;
    }
    .news__body figure {
        margin: 0;
    }
    .img-720 {
        height: 720px;
    }
    .img-530 {
        height: 530px;
    }
    .picture-container.img-530 img {
        width: 100%;
    }
    .left-img {
        margin: 9px 20px 0px 0px;
    }
    .second {
        max-width: 327px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .header-categories-mini nav, .header-categories nav {
        display: none;
    }
}
@media (min-width: 1024px) {
    .header-categories nav {
        height: 15px;
        text-align: center;
    }
    .d-lg-none {
        display: none!important;
    }
    .site-header-mini_top {
        position: relative;
        background-color: transparent;
        height: 0;
    }
    .site-logo-mini {
        width: 113px;
        height: 47px;
        line-height: 0;
        position: absolute;
        top: 8px;
        left: 8px;
    }
    .site-logo-mini .back {
        fill: #c00;
    }
    .site-header-mini .icon.nav-open {
        top: 0.25rem;
    }
    .site-header-mini .icon.nav-open .svg {
        fill: #c00;
        padding: 0.4rem 0.6rem;
    }
    .site-header-mini {
        background-color: #fff;
    }
    .site-header-mini-links, .site-header-mini-links, .site-header-mini-links {
        justify-content: center;
    }
    .site-header-mini-links .breadcrumb__menu {
        flex: 0 0 100%;
        padding: 21px 38px 21px 121px;
    }
    .site-header-mini-links .breadcrumb__menu ol {
        justify-content: center;
    }
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .footer-copyright {
        position: relative;
        padding: 0;
        bottom: 0;
    }
    .footer-links {
        margin-top: 0.7rem;
        padding-left: 0;
        padding-right: 0;
    }
    .footer-copyright__logo {
        margin-left: auto;
    }
    .footer-copyright small {
        text-align: center;
        display: block;
        margin-top: 0.6rem;
    }
    .footer-policy, .footer-sites {
        float: left;
        margin-right: 0.2rem;
        position: relative;
    }
    .footer__link {
        font-size: .75rem;
        padding: 0;
        width: auto;
    }
    .footer__link .svg {
        width: 14px;
        margin-left: 4px;
        margin-top: 3px;
    }
    .footer__link .svg.active {
        transform: rotate(-90deg);
    }
    .footer-policy.active nav, .footer-sites.active nav {
        position: absolute;
        background-color: transparent;
        width: 500%;
        margin-top: 0.5rem;
    }
    .footer-policy.active a, .footer-sites.active a {
        display: inline;
        background-color: transparent;
        padding: 0 0.5rem;
        border-right: 1px solid #fff;
        border-bottom: 0;
        color: #fff;
    }
    .footer-policy.active a:first-child, .footer-sites.active a:first-child {
        padding-left: 0;
    }
    .footer-policy {
        display: inline-block!important;
    }
    .footer-socialmedia {
        margin-top: 0;
    }
    .news-feature-sides {
        margin-top: 0;
    }
    .news-feature-sides__figure {
        margin-top: 16px;
    }
    .news-feature-sides__caption .square {
        padding: 16px 32px;
    }
    .news-feature-sides__title {
        font-size: 2rem;
        line-height: 1.2em;
    }
    .news-feature-sides__subtitle {
        font-size: .95rem;
    }
    html:not([data-template=home]) body {
        padding-top: 64px;
    }
    .area_content, .area_sidebar {
        margin-top: 16px;
    }
    .news__container {
        margin-bottom: 32px;
    }
    .duplicated .news__container {
        position: relative;
        margin-bottom: 32px;
    }
    .news__body {
        word-break: break-word;
        padding: 0 24px;
    }
    .news__container .news__body {
        width: 93%;
        margin: 0 auto;
    }
    .duplicated .news__container .news__body {
        width: 93%;
    }
    .new__tools {
        flex-direction: inherit;
        align-items: inherit;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
    }
    .news__metadata {
        text-align: left;
        margin-bottom: 16px;
    }
    .news__date {
        font-size: .688rem;
    }
    .news__extra-links-container {
        padding: 20px 32px 8px;
        width: 87%;
    }
}




@media (min-width: 1150px) {
    .header-top.container, .site-header-mini .header-categories-min.container, .site-header-mini_top.container, .site-header .header-categories.container {
        max-width: 1440px;
    }
    .container {
        max-width: 1150px;
    }
    .footer {
        padding-bottom: 2rem;
    }
    .footer {
        padding-bottom: 0.1rem;
        text-align: center;
    }
    .footer .container {
        margin: 0 auto;
    }
    .footer-socialmedia {
        margin-top: 0.5rem;
    }
    .footer-socialmedia a {
        margin-right: 0.5rem;
    }
}

